<!DOCTYPE html>
<head>
  {% block head %}
    <link rel="stylesheet" href="../src/css/style.css/">
    <title>{% block title %} {% endblock %}-Mypage</title>
  {% endblock %}
</head>
<body>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
    &copy Copyright 2018
    {% endblock %}
  </div>
  {% block content %}{% endblock %}
</body>
